.container {
	width: 500px;
	height: 500px;
	position: relative;
	overflow: hidden;
}


/**
* Animation #1 ----------------------------------------------------
*/
.animation-1 {
  display: flex;
	justify-content: center;
	align-items: center;
	background-color: #26de81;
}

.animation-1 h3 {
  text-align: center;
	color: white;
	font-family: arial;
	font-size: 90px;
	line-height: 90px;
	letter-spacing: 15px;
	text-shadow: 0 1px 0 #efefef,
				 0 2px 0 #efefef,
				 0 3px 0 #efefef,
				 0 4px 0 #efefef,
				 0 30px 5px rgba(0,0,0,.1);

	animation: animation1 1s linear infinite;
	animation-direction: alternate;
}

@keyframes animation1 {
	from { transform: rotate(5deg); }
	to { transform: rotate(-5deg); }
}

/**
* Animation #2 ----------------------------------------------------
*/
.animation-2 {
  display: flex;
	justify-content: center;
	align-items: center;
  background-color: #26de81;
  perspective: 200px;
}

.animation-2 .loading {
  width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 12px;
	animation: animation2 2s linear infinite;
}

@keyframes animation2 {
	0% { transform: rotateX(0deg) rotateY(0deg); }
	50% { transform: rotateX(0deg) rotateY(180deg); }
	100% { transform: rotateX(180deg) rotateY(180deg); }
}

/**
* Animation #3 ----------------------------------------------------
*/
.animation-3 {
	background: url(../images/city.jpg);
	background-position: bottom left;
  animation: animation3 5s linear infinite;
  background-repeat: no-repeat;
  background-size: cover;
}

.animation-3 .car {
  position: absolute;
  background: url(../images/car.png);
	left: 50px;
  bottom: -35px;
  width: 125px;
  height: 125px;
  background-repeat: no-repeat;
  background-size: contain;
}

.animation-3 .motorbike {
  position: absolute;
  background: url(../images/motobike.png);
	left: 300px;
  bottom: 30px;
  width: 90px;
  height: 90px;
  background-repeat: no-repeat;
  background-size: contain;
}

@keyframes animation3 {
	from { background-position: bottom left; }
	to { background-position: bottom right; }
}

/**
* Animation #4 ----------------------------------------------------
*/
.animation-4 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EA2027;
}

.animation-4 h3 {
  text-align: center;
	color: white;
	font-size: 50px
}

.animation-4 span:before {
	content: '';
	text-transform: uppercase;
	font-family: arial;
	color: #1B1464;
	animation: animation4 5s infinite;
}

@keyframes animation4 {
	0% { content: 'programming' }
	50% { content: 'sports' }
	100% { content: 'traveling' }
}

/**
* Animation #5 ----------------------------------------------------
*/
.animation-5  {
	background: url(../images/pattern.png);
	background-position: 0 0;
	animation: animation5 5s linear infinite;
}

@keyframes animation5 {
	from { background-position: 0 0 }
	to { background-position: 0 600px }
}

/**
* Animation #6 ----------------------------------------------------
*/
.animation-6  {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #262626;
}

.animation-6 ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.animation-6 ul li {
	list-style: none;
	color: #484848;
	font-size: 48px;
	letter-spacing: 15px;
	animation: animation6 1.4s linear infinite;
}

.animation-6 ul li:nth-child(1) { animation-delay: 0 }
.animation-6 ul li:nth-child(2) { animation-delay: 0.1s }
.animation-6 ul li:nth-child(3) { animation-delay: 0.2s }
.animation-6 ul li:nth-child(4) { animation-delay: 0.3s }
.animation-6 ul li:nth-child(5) { animation-delay: 0.4s }
.animation-6 ul li:nth-child(6) { animation-delay: 0.5s }
.animation-6 ul li:nth-child(7) { animation-delay: 0.6s }
.animation-6 ul li:nth-child(8) { animation-delay: 0.7s }

@keyframes animation6 {
	0% {
		color: #484848;
		text-shadow: none;
	}

	90% {
		color: #484848;
		text-shadow: none;
	}

	100% {
		color: #fff900;
		text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
	}
}

/**
* Animation #7 ----------------------------------------------------
*/
.animation-7 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #262626;
}

.animation-7 .heart {
	position: relative;
	width: 100px;
	height: 100px;
	background-color: #ff3838;
	transform: rotate(45deg);
	animation: animation7 1.4s linear infinite;
}

.animation-7 .heart:before,
.animation-7 .heart:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ff3838;
	border-radius: 50%;
}

.animation-7 .heart:before {
	transform: translateY(-50%);
}

.animation-7 .heart:after {
	transform: translateX(-50%);
}

@keyframes animation7 {
	0% { transform: rotate(45deg) scale(1); }
	25% { transform: rotate(45deg) scale(1); }
	30% { transform: rotate(45deg) scale(1.4); }
	50% { transform: rotate(45deg) scale(1.2); }
	70% { transform: rotate(45deg) scale(1.4); }
	100% { transform: rotate(45deg) scale(1); }
}

/**
* Animation #8 ----------------------------------------------------
*/
.animation-8 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #262626;
}

.animation-8 h3 {
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 10px;
	text-align: center;
	text-transform: uppercase;
	background: url(../images/text-bg.jpg);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	animation: animation8 20s linear infinite;
}

@keyframes animation8 {
	from { background-position: 0 0 }
	to { background-position: 100% 100% }
}

/**
* Animation #9 ----------------------------------------------------
*/
.animation-9 {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #262626;
}

.animation-9 ul {
	margin: 0;
	padding: 0;
	display: flex;
	border-bottom: solid 10px white;
}

.animation-9 ul li {
	list-style: none;
	width: 30px;
	height: 30px;
	background-color: white;
	margin: 0 10px;
	border-radius: 50%;
	transform: translateY(-150px);
	animation: animation9 0.8s linear infinite;
}

.animation-9 ul li:nth-child(1) { animation-delay: 0.45s; }
.animation-9 ul li:nth-child(2) { animation-delay: 0.6s; }
.animation-9 ul li:nth-child(3) { animation-delay: 0.3s; }
.animation-9 ul li:nth-child(4) { animation-delay: 0; }
.animation-9 ul li:nth-child(5) { animation-delay: 0.15s; }

@keyframes animation9 {
	0% { transform: translateY(-150px); }
	50% { transform: translateY(0); }
	100% { transform: translateY(-150px); }
}

/**
* Animation #10 ----------------------------------------------------
*/
.animation-10 {
	background: url(../images/mansion.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.animation-10 .rain {
	width: 200%;
	height: 200%;
	background: url(../images/rain.png);
	animation: animation10 .5s linear infinite;
} 

@keyframes animation10 {
	0% { background-position: 0% 0%; }
	100% { background-position: 45% 100%; }
}

/**
* Animation #11 ----------------------------------------------------
*/
.animation-11 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	background-color: #262626;
}

.animation-11 ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.animation-11 ul li {
  list-style-type: none;
  font-size: 64px;
  letter-spacing: 20px;
  animation: animation11 3s linear infinite
}

.animation-11 ul li:nth-child(1) { animation-delay: 0s; }
.animation-11 ul li:nth-child(2) { animation-delay: 0.2s; }
.animation-11 ul li:nth-child(3) { animation-delay: 0.4s; }
.animation-11 ul li:nth-child(4) { animation-delay: 0.6s; }
.animation-11 ul li:nth-child(5) { animation-delay: 0.8s; }
.animation-11 ul li:nth-child(6) { animation-delay: 1s; }
.animation-11 ul li:nth-child(7) { animation-delay: 1.2s; }


@keyframes animation11 {
	0% {
    color: yellow;
    transform: translateX(-50px);
    letter-spacing: 20px;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    letter-spacing: -20px;
    opacity: 1;
  }

  100% {
    color: lime;
    transform: translateX(50px);
    letter-spacing: 20px;
    opacity: 0;
  }
}