body {
  margin: 0;
  padding: 0;
}

.page-width {
  max-width: 992px;
  margin: auto;
  padding: 0 25px;
}

.page-height {
  min-height: calc(100vh - 190px);
}

@media (max-width: 600px) {
  .page-width {
    padding: 0 10px;
  }

  .page-height {
    min-height: calc(100vh - 160px);
  }
}
